{% extends 'base.html' %}

{% block content %}
  <h2>Customer List</h2>
  <a href="{% url 'customer_create' %}" class="btn btn-primary">Add Customer</a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
          <td>{{ customer.name }}</td>
          <td>{{ customer.description }}</td>
          <td>
            <a href="{% url 'customer_detail' customer.id %}" class="btn btn-info btn-sm">Detail</a>
            <a href="{% url 'customer_update' customer.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'customer_delete' customer.id %}" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
